@use "@styles/variables" as *;
@use "@styles/mixin" as *;

.root {
  grid-area: nav;
  display: grid;
  padding: 8px 16px 0;
  border-radius: 8px 8px 0 0;
  background-color: $grey-900;
  @include normalAnim;

  &_logo {
    display: none;
    width: 100%;
    padding: 40px 32px;
  }

  .nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  @include breakpoint("lg") {
    width: 300px;
    grid-template-rows: auto 1fr auto;
    gap: 24px;
    border-radius: 0 16px 16px 0;
    padding: 0;
    padding-bottom: 58px;

    &_logo {
      display: block;
    }

    .nav {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fill, minmax(56px, 1fr));
      padding: 0;
      padding-right: 24px;
    }

    &.minimize {
      .nav {
        padding-right: 8px;
      }
    }
  }
}

.minimize {
  width: 88px;
}
