$breakpoints: (
  "xm": 375px,
  "sm": 640px,
  "md": 768px,
  "lg": 1140px,
  "xl": 1280px,
  "2xl": 1440px,
  "3xl": 1920px,
);

@mixin breakpoint($name) {
  @media (min-width: map-get($breakpoints, $name)) {
    @content;
  }
}

@mixin fullScreen {
  width: 100%;
  height: 100vh;
}

@mixin centerItem {
  display: grid;
  place-items: center;
}

@mixin nomalAnim {
  transition: all ease-in-out 0.2s;
}

@mixin text1 {
  font-size: 32px;
  line-height: 120%;
}

@mixin text2 {
  font-size: 20px;
  line-height: 120%;
}

@mixin text3 {
  font-size: 16px;
  line-height: 150%;
}

@mixin text4 {
  font-size: 14px;
  line-height: 150%;
}

@mixin text5 {
  font-size: 12px;
  line-height: 150%;
}

@mixin bold {
  font-weight: 700;
}

@mixin mainPadding {
  padding: 24px 16px;
}
