* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Public Sans", system-ui;
  border: 0;
}

::after,
::before {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  cursor: pointer;
}
