$beige-500: #98908b;
$beige-100: #f8f4f0;
$grey-900: #201f24;
$grey-500: #696868;
$grey-300: #b3b3b3;
$grey-100: #f2f2f2;
$green: #277c78;
$yellow: #f2cdac;
$cyan: #82c9d7;
$navy: #626070;
$red: #c94736;
$purple: #826cb0;
$secondary-purple: #af81ba;
$secondary-turpqoise: #597c7c;
$secondary-brown: #93674f;
$secondary-magenta: #934f6f;
$secondary-blue: #3f82b2;
$secondary-grey: #97a0ac;
$secondary-green: #7f9161;
$secondary-gold: #cab361;
$secondary-orange: #be6c49;
