@use "@styles/mixin" as *;
@use "@styles/variables" as *;

.root {
  background-color: $beige-100;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  @include fullScreen;

  &_header {
    width: 100%;
    height: 70px;
    border-radius: 0 0 8px 8px;
    padding: $space-300 0;
    background-color: $grey-900;
    z-index: 30;
    @include centerItem;
  }

  .login,
  .sign {
    background-color: white;
    width: 343px;
    height: fit-content;
    border-radius: $space-150;
    padding: $space-300 $space-250;
    display: flex;
    flex-direction: column;
    gap: $space-400;
  }

  .wrapper {
    width: 100%;
    height: calc(100dvh - 70px);
    transform: translateY(0);
    @include registerAnim;
    @include centerItem;

    &:has(input[id="change-sign"]:checked) {
      transform: translateY(-100%);
    }

    &_header {
      color: $grey-900;
      @include text1;
      @include bold;
    }

    &_forms {
      display: flex;
      flex-direction: column;
      gap: $space-500;
    }

    &_form {
      border-radius: $space-100;
      padding: $space-150 $space-250;
      border: 1px solid $beige-500;
      position: relative;
      display: flex;
      align-items: center;
      gap: $space-200;
      @include normalAnim;

      label {
        position: absolute;
        @include normalAnim;
      }

      input {
        width: 230px;
      }

      svg {
        fill: $grey-900;
        display: none;
        cursor: pointer;

        &.show {
          display: block;
        }
      }

      &:has(input:focus) {
        border-color: $green;

        label {
          color: $green;
          transform: translateY(-170%);
          @include text5;
        }
      }

      &.active {
        label {
          color: $green;
          transform: translateY(-170%);
          @include text5;
        }
      }
    }

    &_buttons {
      display: flex;
      flex-direction: column;
      gap: $space-200;
    }
  }
}

.note {
  text-align: center;
  color: $grey-500;
  @include text4;
  @include regular;

  span {
    color: $grey-900;
    position: relative;
    @include bold;

    input {
      cursor: pointer;
      position: absolute;
      inset: 0;
      opacity: 0;
    }
  }
}
