@use "@styles/variables" as *;
@use "@styles/mixin" as *;

.root {
  position: relative;
  display: grid;
  justify-content: center;
  padding-top: 8px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  height: 44px;

  p {
    display: none;
    z-index: 2;
  }

  svg {
    fill: $grey-300;
    z-index: 2;
    justify-self: center;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $beige-100;
    z-index: 1;
    border-radius: 8px 8px 0 0;
    border-bottom: 4px solid $green;
    transform: translateY(-100%);
    @include nomalAnim;
  }

  &.active {
    &::after {
      transform: translateY(0);
    }

    svg {
      fill: $green;
    }
  }

  @include breakpoint("xm") {
    height: 66px;
    grid-template-rows: auto 1fr;
    gap: 4px;

    p {
      display: block;
      @include text5;
      @include bold;
      color: $grey-300;
    }

    &.active {
      p {
        color: $grey-900;
      }
    }
  }

  @include breakpoint("md") {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 16px;
    padding: 16px 32px;
    border-radius: 0 12px 12px 0;
    height: 56px;

    &::after {
      border-radius: 0 12px 12px 0;
      border-left: 4px solid $green;
      border-bottom: 0px;
      transform: translateX(-100%);
    }
  }
}

@keyframes activeAnim {
  100% {
    transform: translateX(0);
  }
}
